body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://i.pinimg.com/originals/7d/b4/f6/7db4f675de8ebfcee294b2fc7d1e6452.gif');
    background-size: cover;
    background-position: center;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 4em;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}
